* {
	font-family: 'Comic Sans MS';
}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(164, 164, 164);
}
.black-container {
	position: relative;
	width: 200px;
	height: 200px;
}
.black-block {
	position: absolute;
	background: black;
	border: 1px solid black;

	width: inherit;
	height: inherit;
	z-index: 2;

	box-shadow: 0 5px 20px rgb(0, 0, 0, 0.7);
}
.item {
	position: absolute;
}
/* ! temperature */
.temp-container {
	bottom: -75%;
	right: -50%;
}
.temp-block {
	position: relative;
	width: 200px;
	height: 100px;
	background: rgb(193, 193, 193);
	z-index: 1;
	box-shadow: 5px 5px 0 rgb(142, 142, 142);

	display: flex;
	justify-content: center;
	align-items: flex-end;
}
/* * weather */
.weather {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	padding-bottom: 5px;
}
.weather-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3px 0;
	width: inherit;
}
.day {
	color: rgb(136, 136, 136);
	font-size: 12px;
}
.temperature {
	font-weight: bold;
}
/* ! arrows */
.arrows-container {
	top: 30%;
	left: -11%;
	z-index: 3;
}
.arrows {
	transform: scale(2);
	color: black;
	border: 1px solid rgb(192, 192, 192, 0.5);
	background: rgb(192, 192, 192, 0.5);
}
.arrows i {
	padding: 2px;
}
/* ! number */
.number-container {
	bottom: 2%;
	left: 5%;
	z-index: 3;
}
.number {
	color: rgb(192, 192, 192, 0.5);
	font-size: 70px;
}

/* ! sky */

.sky-container {
	top: 15%;
	right: -30%;
	z-index: 3;
}
.sky {
	width: 180px;
	height: 100px;
	background-image: url(sky.png);
	background-repeat: no-repeat;
	background-size: cover;
}
